

.contact-item{
    display: flex;
    /* justify-content: start; */
    /* align-items: center; */
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    margin-right: 20px;
    /* padding-top: 15px; */
    height: 265px;
    width: 340px;
    cursor: pointer;
    transition: all 0.5s;
    /* background-color: aqua; */
}

.contact-item:hover{
    /* background-color: blueviolet; */
    /* display: flex; */
    /* justify-content: center; */
    border: 1px solid var(--primary-color);
    /* border-radius: 10px; */
    /* margin-right: 20px; */
    /* height: 265px; */
    /* width: 340px; */
}
.contact-img{
    display: flex;
    justify-content: center;
    width: inherit;
    margin-top: 75px;
    /* margin-left: 75px; */
    font-size: 2rem;
}


.contact-img {
    position: absolute;
    transition: opacity 0.3s ease;
}

.contact-img .fa-envelope {
    opacity: 1; /* Visible by default */
}

.contact-img .fa-envelope .fa-beat {
    opacity: 0; /* Hidden by default */
}

.contact-img:hover .fa-envelope {
    opacity: 0; /* Fade out the envelope */
}

.contact-img:hover .fa-envelope .fa-beat {
    opacity: 1; /* Fade in the checkmark */
}


.contact-details{
    display: flex;
    justify-content: center;
    width: inherit;
    margin-top: 135px;
    position: absolute;
    /* padding: 20px; */
}
